{% extends '::base.html.twig' %}
{% block header %}Ajouter une newsletter{% endblock %}
{% block body %}
        <div class="ErrorForm">
            {{ form_errors(form.subject) }}
            {{ form_errors(form.message) }}
            {{ form_errors(form.expeditorEmail) }}
        </div>
    <div class="pure-g">
        <div class="pure-u-1-2 centrer">
            <form method="post" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label class="required labelBlock" for="ipezbo_newsletterbundle_newsletter_subject">Sujet</label>
                        {{ form_widget(form.subject, { 'attr': {"class":"form-control"}} ) }}
                    </div>
                    <div class="pure-control-group">
                        <label class="required labelBlock" for="ipezbo_newsletterbundle_newsletter_message">Corps</label>
                        {{ form_widget(form.message, { 'attr': {"class":"form-control"}} ) }}
                    </div>
                    <div class="pure-control-group">
                        <label class="required labelBlock" for="ipezbo_newsletterbundle_newsletter_expeditorEmail">Expéditeur</label>
                        {{ form_widget(form.expeditorEmail, { 'attr': {"class":"form-control"}} ) }}
                    </div>
                    {{ form_widget(form) }}
                    <div class="pure-control-group">
                        <input type="submit" class="pure-button pure-button-primary" />
                    </div>
            </form>
            <a class="pure-button" href="{{path('ipezbo_newsletter_homepage') }}">Retour aux newsletters</a>
        </div>
    </div>        
{% endblock %}