{% extends '::base.html.twig' %}
{% block header %}Liste des catégories{% endblock %}
{% block body %}
             <table id="tableCategory" class="pure-table pure-table-bordered display">
                <thead><tr><th>Nom</th><th>Image</th><th></th></tr></thead>
                <tbody>
                {% for categorie in categories %}
                    <tr><td>{{ categorie.name }}</td><td>{{ categorie.image }}</td> <td><a class="pure-button" href="{{ path('ipezbo_category_edit', {id : categorie.id}) }}">Editer</a></td></tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
            <a class="pure-button margeButton" href="{{path('ipezbo_category_add') }}">Ajouter une catégorie</a>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/dataTable/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#tableCategory').dataTable();
    });
    </script>
{% endblock %}    