{% trans_default_domain 'FOSUserBundle' %}
    <div class="ErrorForm">
            {{ form_errors(form.current_password) }}
            {{ form_errors(form.plainPassword) }}
        </div>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="pure-form pure-form-aligned">
    <fieldset>
            <div class="pure-control-group">
                <label class="required" for="fos_user_change_password_form_current_password">Current password:</label>
                {{ form_widget(form.current_password, { 'attr': {"class":"form-control"}} ) }}
            </div>
            <div class="pure-control-group">
                {{ form_widget(form.plainPassword, { 'attr': {"class":"form-control"}} ) }}
            </div>
            <div class="pure-control-group">
                {{ form_widget(form.plainPassword, { 'attr': {"class":"form-control"}} ) }}
            </div>
            
    {{ form_widget(form) }}
    <div class="pure-control-group">
        <input class="pure-button pure-button-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </fieldset>
</form>
