{% trans_default_domain 'FOSUserBundle' %}
<div class="pure-g">
    <div class="pure-u-1-3 centrer">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name" class="labelBlock">Nom</label>
                        {{ form_widget(form.name, { 'attr': {"class":"form-control"}} ) }}
                </div>
                <div class="pure-control-group">
                    <label for="surname" class="labelBlock">Prénom</label>
                        {{ form_widget(form.surname, { 'attr': {"class":"form-control"}} ) }}
                </div>
               <div class="pure-control-group">
                    <label for="email" class="labelBlock">Adresse e-mail</label>
                        {{ form_widget(form.email, { 'attr': {"class":"form-control"}} ) }}
                </div>
                <div class="pure-control-group">
                    <label for="username" class="labelBlock">Nom d'utilisateur</label>
                        {{ form_widget(form.username, { 'attr': {"class":"form-control"}} ) }}
                </div>
                <div class="pure-control-group">
                    <label for="surname" class="labelBlock">Mot de passe</label>
                        {{ form_widget(form.plainPassword.first, { 'attr': {"class":"form-control"}} ) }}
                </div>
                <div class="pure-control-group">
                    <label for="surname" class="labelBlock">Vérification</label>
                        {{ form_widget(form.plainPassword.second, { 'attr': {"class":"form-control"}} ) }}
                </div>
                {{ form_widget(form) }}
                <div class="pure-control-group">
                      <input type="submit" class="pure-button pure-button-primary" value='{{ 'registration.submit'|trans }}'/>
                </div>
            </fieldset>
        </form>
    </div>
</div>