{% extends '::base.html.twig' %}
{% block header %}Editer un client{% endblock %}
{% block body %}
    <div class="pure-g">
        <div class="pure-u-1-3 centrer">
            <form method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <input class="pure-button pure-button-primary" type="submit">
            </form>
            <a class="pure-button" href="{{path('ipezbo_customer_homepage') }}"><- Retour aux clients</a>
            <a href="{{ path('ipezbo_customer_delete', { id : client.id}) }}" class="pure-button button-error margeButton" id="delete-action">Supprimer la client {{ client.name }}</a>
        </div>
    </div>

{% endblock %}