{% extends '::base.html.twig' %}
{% block header %}Editer un produit{% endblock %}
{% block body %}
<form method="post" {{ form_enctype(form) }} class="pure-form">
        {{ form_widget(form) }}
    <input type="submit" class="pure-button pure-button-primary" />
</form>


<img src="{{ asset(product.ImagePath) }}"><br />

<a href="{{path('ipezbo_product_homepage') }}">Retour aux produits</a>

<a href="{{ path('ipezbo_product_delete', { id : product.id}) }}" class="button-error pure-button" id="delete-action">Supprimer le produit {{ product.name }}</a>
{% endblock %}