{% extends '::base.html.twig' %}
{% block header %}Liste des produits{% endblock %}

{% block body %}
                <table id="tableProduct" class="pure-table pure-table-bordered">
                <thead><th>Nom</th><th>Reference</th><th>Quantité</th><th>Catégorie</th>
                <th>Marque</th><th>Evenement</th><th></th></thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.reference}}</td>
                        <td>{{ product.quantity}}</td>
                        <td>{{ product.category.name}}</td>
                        <td>{{ product.brand.name}}</td>
                        <td>{{ product.event.name}}</td>
                        <td><a class="pure-button" href="{{ path('ipezbo_product_edit', {id : product.id}) }}">Editer</a></td></tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
                <a class="pure-button margeButton" href="{{path('ipezbo_product_add') }}">Ajouter un produit</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dataTable/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#tableProduct').dataTable();
    });
    </script>
{% endblock %}  