{% extends '::base.html.twig' %}
{% block header %}Editer un paramètre général{% endblock %}
{% block body %}
<form method="post" {{ form_enctype(form) }} class="pure-form pure-form-aligned">
        {{ form_widget(form) }}
        <div class="pure-control-group">
    <input type="submit" class="pure-button pure-button-primary margeButton" />
</form>

<br/>
<a class="pure-button margeButton" href="{{path('ipezbo_general_setting_homepage') }}"><- Retour aux paramètres généraux</a>
<br/>
<a href="{{ path('ipezbo_general_setting_delete', { id : generalSetting.id}) }}" class="button-error pure-button margeButton" id="delete-action">Supprimer le paramètre {{ generalSetting.settingAttribute }}</a>
{% endblock %}