{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Nom : {{ user.name }}</p>
    <p>Prénom: {{ user.surname }}</p>
    <p>Username: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <a class="pure-button" href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a>
    <a class="pure-button" href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a>



</div>