{% extends '::base.html.twig' %}
{% block header %}Liste des évènements{% endblock %}
{% block body %}
            <table id="tableEvent" class="pure-table pure-table-bordered">
                <thead><tr><th>Name</th><th>Description</th><th>Street</th><th>City</th><th>ZipCode</th><th>Autres détails</th>
                        <th>Newsletter</th><th></th></tr></thead>
                <tbody>
                {% for event in events %}
                    <tr><td>{{ event.name }}</td> 
                        <td>{{ event.description}} </td>
                        <td>{{ event.street }}</td>
                        <td>{{event.city}} </td>
                        <td>{{event.zipcode}}</td>
                        <td>{{event.additionalDetails}}</td>
                        <td>{{event.newsletter.subject}}</td>
                        <td><a href="{{ path('ipezbo_event_edit', {id : event.id}) }}">Editer</a></td></tr>
                {% else %}
                    Pas d'évènements
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
            <a href="{{path('ipezbo_event_add') }}">Ajouter un évènement</a>
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/dataTable/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#tableEvent').dataTable();
    });
    </script>
{% endblock %}      